.home {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    background-color: aliceblue;
    padding: 3.5rem 2rem;
    text-align: center;
    height: calc(100% - 98px);
}
.home h1 {
    font-size: 2.5rem;
    font-weight: bold;
    color: #333;
    margin-bottom: 1rem;
    text-align: center;
}
.home p, .home button {
    font-size: 1.5rem;
    color: #666;
    background: transparent;
    border: none;
}
.home .content {
    margin-top: 2rem;
    padding: 1rem 2rem;
    width: 100%;
}
.home .content .buttons {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.home .content .buttons .btn {
    font-size: 1.2rem;
    color: #333;
    background: transparent;
    border: 2px solid #333;
    border-radius: 15px;
    padding: 1rem 1.5rem;
    margin: .5rem;
    cursor: url('./../cursors/pointer.cur'), pointer;
    transition: all .3s ease-in-out;
    text-decoration: none;
}
.home .content .buttons .btn:hover, .home .content .buttons .btn:focus, .home .content .buttons .btn.btn-primary:hover,.home .content .buttons .btn.btn-primary:focus {
    border-radius: 0;
    background: #333;
    color: aliceblue;
    border-color: #333;
}
.home .content .buttons .btn.btn-primary {
    color: aliceblue;
    background: #c5013c;
    border: 2px solid #AB0234;
}